extends layout

block head
  link(rel='stylesheet', href='/stylesheets/profile.css')
block content
  .profile-info
    img.image(src= user.image)
    h2.name #{user.name}
    p.age #{user.age}
  .courses-container
    h2.title Courses
    each course in courses
      .course
        h3.title #{course.title}
        .session
          .start #{course.start}
          .end #{course.end}
    
  