extends layout

block head
  link(rel='stylesheet', href='/css/profile.css')
block content
  .profile-info
    img.image(src= user.image)
    h2.name #{user.firstName}
    p.age #{user.age}
    a(href="#").connect Connect with #{user.firstName}
  .courses-container
    h4.title Courses
    each course in courses
      .course
        h3.title #{course.title}
        each session in course.sessions
          .session 
            .left
              .date #{session.start.date == session.end.date ? session.start.date : session.start.date+" - "+session.end.date}
              .time #{session.start.time} to #{session.end.time}
            .right
              a(href="#").bookit.button Book It!
          